# List project dependencies here. A workflow ports them to `pyproject.toml`. This is needed because Dependabot does not currently support `flit`-flavored `pyproject.toml`.
dill==0.3.6
dvc[gs]==3.5.1
IPython[notebook]==8.14.0
matplotlib==3.7.2
numpy==1.25.1
pandas==2.0.3
pandera==0.16.1
papermill==2.4.0
propshop==0.1.1
pyarrow==12.0.1
pydantic==1.10.11
pyjanitor==0.24.0
pyXSteam==0.4.9
pyyaml==6.0
ruamel.yaml==0.17.32
scipy==1.11.1
seaborn==0.12.2
sympy==1.12
uncertainties==3.1.7
# ? Conflict with papermill
# ? https://github.com/nteract/papermill/issues/711
jupyter-client==7.4.9
