# List project dependencies here. A workflow ports them to `pyproject.toml`. This is needed because Dependabot does not currently support `flit`-flavored `pyproject.toml`.
dill==0.3.6
dvc[gs]==2.57.1
matplotlib==3.7.1
numpy==1.24.3
pandas==2.0.1
pandera==0.14.5
papermill==2.4.0
propshop==0.1.1
pyarrow==11.0.0
pydantic==1.10.7
pyjanitor==0.24.0
pyXSteam==0.4.9
pyyaml==6.0
ruamel.yaml==0.17.21
seaborn==0.12.2
scipy==1.10.1
sympy==1.11.1
uncertainties==3.1.7
# https://github.com/nteract/papermill/issues/711
jupyter-client<8
