# Latest working requirements of your package, should be ahead of pyproject.toml
ipykernel==6.29.0
matplotlib==3.8.3
nbqa==1.7.1
numpy==1.26.4
pandas[hdf5,performance]==2.1.4
pandas-stubs~=2.1.4
pandera==0.18.0
propshop==0.1.3
pyarrow==15.0.0
pydantic==2.6.1
pyXSteam==0.4.9
scipy==1.12.0
seaborn==0.13.2
# ! boilercore specified differently in dev and CI to allow editable package in dev
# boilercore==...
# ! originpro specified in dev environment and omitted from CI (incompatible w/ linux)
# originpro==...
