# Latest working requirements of your package, should be ahead of pyproject.toml.
IPython[notebook]==8.16.1
matplotlib==3.8.0
nbqa==1.7.0
numpy==1.26.1
pandas[hdf5,performance]==2.1.1
pandas-stubs~=2.1.1
pandera==0.17.2
propshop==0.1.1
pyarrow==14.0.1
pydantic==1.10.12
pyXSteam==0.4.9
scipy==1.11.3
seaborn==0.13.0
# ! boilercore specified differently in dev and CI to allow editable package in dev
# boilercore==...
# ! originpro specified in dev environment and omitted from CI (incompatible w/ linux)
# originpro==...
