# Requirements for dev environments.

# * -------------------------------------------------------------------------------- * #
# * Changes below should persist in significant template updates.

boilercore@git+https://github.com/blakeNaccarato/boilercore@51eafd918a2f2001e8ab12f508d341ed129331f9

# ? Install tests package so modules can be run in debugging
tests/.

# * -------------------------------------------------------------------------------- * #
# * Changes below may be lost in significant template updates.

-r requirements_both.txt
